* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #C3C98D;
    --secondary-color: #33233F;
    --text-color: #DBD8D2;
    --background-color: #E0E0DC;
    --middle-color: #80B9B1;
    --third-color: #638773;
    --fourth-color: #dbd8d2;
    --sixth-color: #94C8B4;
    --paragraph-text-size: 1.125rem;
    --fifty-pixel-font-size: 3.125rem;
    --ceve-pixel-font-size: 7.5rem; /* 120px */
    --trente-pixel-font-size: 1.875rem; /* 30px */
    --twenty-pixel-font-size: 1.25rem; /* 20px */
    --ten-pixel-font-size: 0.625rem; /* 10px */
    --three-hundred-eight: 19.25rem; /* 308px */
    --services-navbar-height: 3.75rem; /* 50px */
    --services-navbar-width: 26.5rem; /* 100% */
}

body {
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 95%;
    max-width: 95%;
    height: auto;
    padding: 20px 5vw;
    background-color: var(--secondary-color);
    border-radius: 20px;
    z-index: 1000;
    position: fixed;
    top: 1.825rem;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease, opacity 0.5s ease, display 1s ease-in;
}


/* Hide the header when scrolling down */
.header-hidden {
    transform: translate(-50%, -100%); /* Move straight up */
    opacity: 0;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu-icon {
    width: 20px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    position: relative;
}

.menu-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: transform 0.4s ease, opacity 0.4s ease;
    border-radius: 2px;
}

/* Transform lines into a cross when active */
.menu-icon.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    color: var(--text-color);
}

nav ul li a {
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--primary-color);
}

.logo {
    font-family: 'Send Flowers', sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
}

/* .header-mobile {
    display: none;
    width: 100%;
    z-index: 999; 
    padding: 20px 0;
    margin-top: 2rem;
    transition: all 1s ease-in;
} */

.header-mobile nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 20px;
}

.header-mobile {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
}

/* When active */
.header-mobile.active {
    margin-top: 2rem;
    opacity: 1;
    max-height: 500px; /* Adjust as needed */
}


section {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: auto;
}

.home-hero {
    background-color: #f0f0f0;
    color: blue;
    height: 74vh;
    border-radius: 30px;
    margin: auto;
}

.hero-1 {
    margin-top: 8rem;
}

@media screen and (max-width: 955px) {
    .header-main nav{
        display: none; /* Hide the header on mobile */
    }

    .menu-icon {
        display: flex; /* Show the menu icon on mobile */
    }

    .home-services {
        margin-top: 20rem;
    }
    
    .home-services-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
